USER_AGENT=haraka
ACTION_MAILBOX_PASSWORD=superdupersecertpassword
ACTION_MAILBOX_URL=http://myapp.com/rails/action_mailbox/relay/inbound_emails
ACCEPT_MAIL_FOR_HOSTNAME=myapp.com
HOSTNAME=haraka.myapp.com
